<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.web>
    <compilation debug="false" targetFramework="4.0" />
    <httpRuntime executionTimeout="3600" maxRequestLength="4096" />
    <sessionState timeout="30" mode="InProc" />
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
  </system.web>
  <system.webServer>
    <httpErrors errorMode="DetailedLocalOnly" />
    <asp scriptErrorSentToBrowser="false" />
    <handlers>
      <add name="SoapHandler" path="*.asmx" verb="*" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="Script" preCondition="classicMode,runtimeVersionv4.0,bitness32" />
    </handlers>
  </system.webServer>
</configuration>
